@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Nunito, Sans-serif, Arial;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, #4438cb 0%, #036773 100%);
}

.container-style {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    background-color: #1c2035;
    border: 1px solid #35394c;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 7, 37, 0.300);
    padding: 30px;
    overflow: hidden;
}

#container h1 {
    font-size: 1.1em;
}

#container hr {
    border: 1px solid #35394c;
}

#container > #subtArea > p:first-child {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 5px;
}

#container > #subtArea > p:last-child {
    font-size: 1em;
    font-weight: 100;
}

#container > div#input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}


#container > div#input-container > span {
    position: absolute;
    color: #5d6179;
    font-weight: 600;
    font-size: 1em;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#container > div#input-container > span.inputIcon-MoneyType {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 21px;
}

#container > div#input-container > input[type=number] {
    width: 100%;
    height: 35px;
    background-color: #2f3347;
    border: 1px solid #35394c;
    padding: 10px 55px 10px 10px;
    outline: none;
    border-radius: 7px;
    font-weight: 700;
}

#container > div#input-container > input[type=number].input-MoneyType {
    padding: 10px 10px 10px 35px;
}

#container > div#input-container > input[type=number]::placeholder {
    color: #5d6179;
    font-size: 1em;
}

/* Esconder setinhas da caixa input tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#container > input[type=button] {
    width: 100px;
    height: 35px;
    background-color: #04d2eb;
    color: black;
    border: none;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

#container > input[type=button]:hover {
    background-color: #7deffd;
}

#container > input[type=button]:active {
    background-color: #00b8cc;
}

/* ESTILOS DO MODAL */

#resulmodal {
    display: none; /* Flex */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
}

#resulmodal span {
    /* width: 20%; */
    font-size: 3em;
    color: #5d6179;
    /* border: 5px solid white;
    border-radius: 10px;
    padding: 5px; */
    text-align: center;
}

#resulmodal > p{
    /* width: 80%; */
    text-align: start;
    padding: 0 10px;
    word-spacing: 10px;
}

.container-style .closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 27px;
    height: 27px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #35394c;
    font-weight: 900;
}

.container-style .closebtn:hover {
    color: #5d6179;
}

/* FOOTER */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.150);
    width: 100%;
    height: 50px;
}

footer > div#social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
}

footer > div#social-media > a > i{
    color: white;
    font-size: 1.7em;
}